
body{
  padding: 0;
  margin: 0;
  background-color: hsl(233, 47%, 7%);
}

h2{
  font-family: 'Inter', sans-serif;
  color:hsl(0, 0%, 100%);
}

span{
  color: hsl(277, 64%, 61%);
}


.main-para{
  color:hsla(0, 0%, 100%, 0.75);
  font-family: 'Lexend Deca', sans-serif;
}

.container{
  display: flex;
  justify-content: center;
  margin-top: 150px;

}

.card{
  width: 450px;
  height: 325px;
  background-color:  hsl(244, 38%, 16%);

}

.information{
  padding: 5% 9%;
}

img{
  width:450px;
  height: 325px;
  filter:hsl(277, 64%, 61%);
}



 .stats-footer {
    /* border: 1px solid yellow; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    font-family: 'Lexend Deca', sans-serif;
}

.stat{
    /* border: 1px solid white; */
    display : flex;
    flex-direction: column;
    /* padding-left: 3em; */
    padding: 15% 27%;


}

.stat .value{
    font-size: 1rem;
    color: hsla(0, 0%, 100%, 0.6);
}
.stat .type{
    text-transform: uppercase;
    font-size: 0.75rem;
    color:#fff;

    margin-top: 0.35rem;
}

/* Footer */

.attribution {
  font-size: 11px; text-align: center;
  margin-top: 25px;
}
.attribution a {
   color: hsl(228, 45%, 44%);
   font-family: 'Inter', sans-serif;
   text-decoration-line: none;
 }
